<footer class="footer_pixel">

	<p class="subscribe_pixel"><a class="icon-rss" target="_blank" href="{{@blog.url}}/rss/">

	</a></p>

	<div class="footertext_pixel">

		<p>copyright <a href="/">{{@blog.title}}</a> &copy; 2014 &bull; Todos los derechos Reservados.</p>

	</div>

	<div class="footertext_pixel">

		

	</div>

</footer>