<footer class="footer">
    <div class="social--footer">
	    <a class="social__icon social__icon--gplus" href="http://google.com/+CristianCortes" target="_blank">Google+</a>
	    <a class="social__icon social__icon--twitter" href="http://twitter.com/Cort3sWD" target="_blank">Twitter</a>
	    <a class="social__icon social__icon--rss" href="{{@blog.url}}/rss/">RSS</a>
	</div>

    <div class="footer__copyrights">
         <p class="footer__text footer__copyright-text">Copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; Derechos Reservados.</p>
    </div>
</footer>