{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap">
		<a href="/" class="menu__item menu__item--active">Home</a>
		<a href="/quien-es" class="menu__item">¿Quién es?</a>
		<a href="/portafolio" class="menu__item">Portafolio</a>
		<!--<a href="/tag/marketing-online" class="menu__item">Marketing</a>
		<a href="https://facebook.com/gavickpro" class="menu__item">Facebook</a>
		<a href="https://plus.google.com/+gavickpro" class="menu__item">Google+</a>-->
	</div>
</nav>